<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the Project Manager App</h1>
  <h2>
    This is the home page for the
    <a href="https://pacific-earth-58270.herokuapp.com/">Project Manager</a>
    application by <a href="https://github.com/AliakseiShvants/">Aliaksei Shvants</a>.
  </h2>

  <% unless current_user %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <%  end%>
</div>




