<% provide(:title, "Home") %>
<div class="container bg-light center">
  <h2>Welcome to the Project Manager App!</h2>
  <h3>
    This is the home page for the
    <a href="https://pacific-earth-58270.herokuapp.com/">Project Manager</a>
    application by <a href="https://github.com/AliakseiShvants/">Aliaksei Shvants</a>.
  </h3>

  <div id="signup">
    <% unless current_user %>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <%  end%>
  </div>

  <div id="home-image">
    <%= image_tag('Project-Management.jpeg', alt: "PM", class: "img" ) %>
  </div>
</div>




