<% if admin? %>
  <h1>Tasks</h1>
<% else %>
  <h1><%= @user_name %> tasks</h1>
<% end %>

<%= will_paginate %>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="colgroup" colspan="2">Description</th>
    <th scope="col">Status</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody class="tasks">
    <% @tasks.each do |task| %>
      <%= render task %>
    <% end %>
  </tbody>
</table>

