// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calender-span {
   float: right;
   margin-right: 6px;
   margin-top: -20px;
   position: relative;
   z-index: 2;
   color: red;
 }