// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#show-task {
  border-radius: 5px;
  width: 75%;
  margin: 8em auto;
  float: none;
}