<footer class="footer">
  <small>
    <a href="https://pacific-earth-58270.herokuapp.com//">Project Manager</a>
    by <a href="https://github.com/AliakseiShvants/">Aliaksei Shvants</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>