<footer class="container bg-dark ">
  <div class="m-auto">
    <a href="https://pacific-earth-58270.herokuapp.com//">Project Manager</a>
    by <a href="https://github.com/AliakseiShvants/">Aliaksei Shvants</a>
    <%= link_to "About", about_path, id: "about" %>
  </div>
</footer>